body
{
    font-family: sans-serif;
    margin: 40px auto;
    max-width: 800px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.model-list {
    padding: 20px 0px;
}

.page-next {
    float: right;
}

.links
{
    float: right;
}
