{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<table class="mdl-data-table mdl-js-data-table">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">When</th>
        <th class="mdl-data-table__cell--non-numeric">Level</th>
        <th class="mdl-data-table__cell--non-numeric">Message</th>
    </tr>
    {% for log in logevent_list %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ log.created_at | naturaltime }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ log.get_log_level_display }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ log.message | linebreaks }}</td>
        </tr>
    {% endfor %}
</table>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ page_obj.previous_page_number }}">older<i class="material-icons">keyboard_arrow_left</i></a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i>newer</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
