{% extends 'base.html' %}

{% load humanize %}
{% load mapper_tags %}

{% block title %}Gates Subscription Mapper{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create task</button>
</form>
{% if migratesubscription_list %}
    <div class="model-list">
        <table>
            <tr>
                <th>Started</th>
                <th>Ended</th>
                <th>Source</th>
                <th>Transform</th>
                <th>Status</th>
                <th></th>
            </tr>
            {% for migration in migratesubscription_list %}
                <tr>
                    <td>{{ migration.created_at | naturaltime }}</td>
                    <td>{% if migration.completed_at %}{{ migration.completed_at | naturaltime }}{% else %}-{% endif %}</td>
                    <td>{{ migration.column_name }} of {{ migration.table_name }}</td>
                    <td>{{ messagesets|lookup:migration.from_messageset }} to {{ messagesets|lookup:migration.to_messageset }}</td>
                    <td>{{ migration.get_status_display }} {{ migration.current }}/{% if migration.total %}{{ migration.total }}{% else %}-{% endif %}</td>
                    <td>
                        {% if migration.can_be_resumed %}
                        <form action="{% url 'migration-retry' migration_id=migration.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Retry</button>
                        </form>
                        {% endif %}
                        {% if migration.can_be_cancelled %}
                        <form action="{% url 'migration-cancel' migration_id=migration.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Cancel</button>
                        </form>
                        {% endif %}
                        <a href="{% url 'log-list' migration_id=migration.pk %}">Logs</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">older</a>
                {% endif %}
            </span>
            <span class="page-previous">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">newer</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
