{% extends 'base.html' %}
{% load widget_tweaks %}

{% load humanize %}
{% load mapper_tags %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--6dp">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Create Migration</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="mdl-card__supporting-text">

                    {% for error in form.non_field_errors  %}
                    <p class="mdl-color-text--accent">{{ error|escape }}</p>
                    {% endfor %}

                    {% for field in form %}
                    <div class="mdl-textfield mdl-js-textfield">
                        {{ field|add_class:"mdl-textfield__input" }}
                        <label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% for error in field.errors  %}
                        <span class="mdl-textfield__error">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="mdl-card__actions">
                    <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% if migratesubscription_list %}
    <div class="mdl-cell mdl-cell--8-col">
        <table class="mdl-data-table mdl-js-data-table">
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Started</th>
                <th class="mdl-data-table__cell--non-numeric">Ended</th>
                <th class="mdl-data-table__cell--non-numeric">Source</th>
                <th class="mdl-data-table__cell--non-numeric">Transform</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th></th>
            </tr>
            {% for migration in migratesubscription_list %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ migration.created_at | naturaltime }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{% if migration.completed_at %}{{ migration.completed_at | naturaltime }}{% else %}-{% endif %}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ migration.column_name }} of {{ migration.table_name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ messagesets|lookup:migration.from_messageset }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ migration.get_status_display }} {{ migration.current }}/{% if migration.total %}{{ migration.total }}{% else %}-{% endif %}</td>
                    <td>
                        {% if migration.can_be_resumed %}
                        <form action="{% url 'migration-retry' migration_id=migration.pk %}" method="post">
                            {% csrf_token %}
                            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect" type="submit">Retry</button>
                        </form>
                        {% endif %}
                        {% if migration.can_be_cancelled %}
                        <form action="{% url 'migration-cancel' migration_id=migration.pk %}" method="post">
                            {% csrf_token %}
                            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect" type="submit">Cancel</button>
                        </form>
                        {% endif %}
                        <a class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" href="{% url 'log-list' migration_id=migration.pk %}">Logs</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_next %}
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_left</i>older</a>
            {% endif %}
            {% if page_obj.has_previous %}
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ page_obj.previous_page_number }}">newer<i class="material-icons">keyboard_arrow_right</i></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
