{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <style>
            .mdl-layout {
                align-items: center;
            }
            .mdl-layout__content {
                padding: 24px;
                flex: none;
            }
            .pagination {
                float: right;
            }
        </style>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    {% include "nav_bar.html" %}
                </div>
            </header>
            <div class="mdl-layout__drawer">
                {% include "nav_bar.html" with drawer=True %}
            </div>
            <main class="mdl-layout__content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>
